/* ==========================================================================
   Layout
   ========================================================================== */

.canvas {
  position: relative;
  width: 100%;
  overflow: hidden;
}

.wrapper {
  position: relative;
  width: 100%;
  height: 100%;
  min-height: 100vh;
  transition: $global-transition;
  background-color: $background-color;
  z-index: 100;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.intro,
main {
  > .inner {
    padding: 0 0.5rem;

    @include breakpoint($small) {
      padding-right: 1rem;
      padding-left: 1rem;
    }

    @include breakpoint($medium) {
      padding-right: 2rem;
      padding-left: 2rem;
    }

    @include breakpoint($large) {
      padding-right: 3rem;
      padding-left: 3rem;
    }

    @include breakpoint($xlarge) {
      padding-right: 4rem;
      padding-left: 4rem;
    }
  }
}

main {
  section {
    margin-left: auto;
    margin-right: auto;
    max-width: 100%;
  }
}

.inner {
  width: 100%;
  box-sizing: border-box;
  opacity: 1;
  -webkit-transition: opacity 200ms ease-in-out;
  -moz-transition: opacity 200ms ease-in-out;
  -ms-transition: opacity 200ms ease-in-out;
  -o-transition: opacity 200ms ease-in-out;
  transition: opacity 200ms ease-in-out;
}

/*
   Layout specific adjustments
   ========================================================================== */

.layout--post,
.layout--page {
  .entry-content {
    @include breakpoint($large) {
      width: span(14 of 16);
    }
  }
}

.layout--about {
  .entry-wrap {
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;

    @include breakpoint($medium) {
      -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
    }
  }

  .entry-content {
    @include breakpoint($medium) {
      -ms-flex: 1;
      flex: 1;
    }
  }

  .entry-sidebar {
    order: -1;
    -ms-flex-order: -1;

    @include breakpoint($medium) {
      order: initial;
      -ms-flex-order: initial;
    }

    .author-picture {
      margin: 0 0 2rem;
      border-radius: 2 * $border-radius;

      @include breakpoint($medium) {
        margin: 0 0 0 2rem;
      }
    }
  }
}

.layout--cv {
  .entries {
    .entry-header {
      @include breakpoint($medium) {
        width: span(5 of 16);
        padding-right: gutter(1 of 16);

        /* remove space after last child element */
        > *:last-child {
          margin-bottom: 0;
        }
      }
    }

    .entry-content {
      @include breakpoint($medium) {
        float: right;
        width: span(11 of 16);
      }
    }
  }

  .entry {
    a {
      color: $accent-color;
    }

    address {
      font-style: normal;
    }

    .title,
    .position,
    .institution,
    .language {
      margin-bottom: 0;
    }

    .date {
      margin-bottom: 1rem;
      color: tint($text-color, 40%);
      font-family: $monospace-font-family;
      font-size: 80%;
    }

    .courses-title,
    .awarder,
    .publisher,
    .level {
      margin: 1rem 0 0;
    }

    .courses,
    .keywords {
      @include list-unstyled;
    }
  }

  .taxonomy {
    + .taxonomy {
      margin-top: 0.5rem;
    }

    .title {
      display: inline-block;
      margin-right: 1rem;
    }

    .keywords {
      display: inline-block;
    }
  }
}

.layout--grid {

  .grid-entries {
    clear: both;
    margin: 0 -22px -22px 0;
    width: calc(100% + 22px);
  }

  .image-container, .grid-entry-item {
    position: relative;
    float: left;
    width: calc(50% - 22px);
    margin: 0 22px 22px 0;
    margin-bottom: 22px;
    cursor: pointer;
  }

  .grid-entry-outer-image-wrapper {
    position: relative;
    overflow: hidden;
    margin: 0;
    padding-bottom: 75%;
    line-height: 0;
    display: flex;
  }

  .grid-entry-inner-image-wrapper {
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }

  .grid-entry-item:hover
  .grid-entry-overlay {
    opacity: 1;
  }
    
  .grid-entry-overlay {
    opacity: 0;
    align-items: center;
    display: flex;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    background: #fff;
    color: #fff;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
    transition: opacity .3s ease-in;
    z-index: 3;
  }

  img.grid-entry-image {
    max-width: initial;
    width: initial;
    height: initial;
  }

  .grid-entry-status-wrapper {
    padding-top: 2em;
    align-items: flex-start;
    justify-content: flex-start;
    display: flex;
    transition: opacity .3s ease-in;
    position: absolute;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
    z-index: 4;
  }
  
  .grid-entry-hover-area {
    opacity:1;
  }

  .grid-entry-hover-area:hover {
    opacity:0
  }
  
  .grid-entry-link {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    z-index: 5;
  }
  
  .grid-entry-item:hover
  .grid-entry-meta {
    opacity: 1;  
  }

  .grid-entry-meta {
    opacity: 0;
    width: 100%;
    margin: 3em;
    text-align: center;
    transition: opacity .35s cubic-bezier(0,0,1,1);
  }

  .product-mark {
    padding: 1.8em;  
  }
  
  .sold-out {
    background: #fff;
    color: #1d1d1d;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: auto;
  }

  .grid-entry-item
  h1.grid-entry-title {
    margin: .7em 0 0 0;
    color: #222;
    font-weight: bold;
    font-style: normal;
    font-size: 16px;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: italic;
    font-size: 20px;
    letter-spacing: .01em;
    line-height: 1.2em;
    text-transform: none;
  }
  
  .grid-entry-item .grid-entry-price {
    margin: .5em 0 0 0;
    color: #747272;
    font-weight: normal;
    letter-spacing: 0px;
    font-weight: 400;
    font-style: normal;
    font-size: 13px;
    letter-spacing: .1em;
    line-height: 1.4em;
    text-transform: none;
  }
  
  .grid-entry-item:hover
  h1.grid-entry-title {
    margin-top: 0;
  }

  h1.grid-entry-title {
    margin: 10px 0 0 0;
    transition: margin .3s cubic-bezier(0,0,.28,1);
  }

}
