---
layout: default
---

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">

    <nav class="navbar">
      <ol class="navbar-breadcrumb">
        <li class="navbar-breadcrumb-link">
          <a href="/">Home</a>
        </li>
        <li class="navbar-breadcrumb-link">
          {{ page.title }}
        </li>
      </ol>
    </nav>

    <header class="home-header">
      <h1 class="home-title">
        {{ page.title }}
      </h1>
      <p class="home-subtitle">
        {{ content }}
      </p>
    </header>

    {% if page.orientation == "vertical" %}
    <div class="grid-wrapper-vertical">
    {% elsif page.orientation == "square" %}
    <div class="grid-wrapper-square">
    {% else %}
    <div class="grid-wrapper-horizontal">
    {% endif %}

    {% include painting_list.html page=page %}
    {% for painting in paintings %}     
      
      {% if painting.image_size %}

        {% assign image_width = painting.image_size[0] %}
        {% assign image_height = painting.image_size[1] %}
        {% assign image_zoom = painting.image_zoom | default: 1.0 %}
        {% assign image_pov_x = painting.image_pov[0] | default: 0.5 %}
        {% assign image_pov_y = painting.image_pov[1] | default: 0.5 %}

        {% comment %}Transforms into float{% endcomment %}
        {% assign image_width = image_width | times: 1.0 %}
        {% assign image_height = image_height | times: 1.0 %}
        {% assign ratio = image_width | divided_by: image_height %}

        {% assign px_left = image_pov_x | minus: 0.5 | times: 100 | round %}
        {% assign px_top = image_pov_y | minus: 0.5  | times: 100 | round %}
        {% assign px_width = image_zoom | times: 100 | round %}
        {% assign px_height = image_zoom | times: 100 | round %}
      
        {% assign style = "object-fit: cover; object-position: center;" %}
        {% assign style2 = style | append: "left: " | append: px_left | append: "%; " %}
        {% assign style2 = style | append: "top: " | append: px_top | append: "%; " %}
        {% if ratio > 1.33333 %}
          {% assign style2 = style | append: "width: auto; max-width: initial;" %}
          {% assign style2 = style | append: "height: " | append: px_height | append: "%; " %}
          {% assign style = style | append: "height: 100%;  " %}
        {% else %}
          {% assign style2 = style | append: "width: " | append: px_width | append: "%; " %}
          {% assign style2 = style | append: "height: auto;" %}
         
        {% endif %}

      {% else %}
        {% assign style2 = "width: 100%; height: auto;" %}
      {% endif %}

      {% include painting_legend.html painting=painting %}

      {% if painting.image_path_small %}
        {% assign image_path = "/assets" | append: painting.image_path_small %}
      {% elsif painting.image_path_large %}
        {% assign image_path = "/assets" | append: painting.image_path_large %}
      {% else %}
        {% assign image_path = "/assets" | append: painting.image_path %}
      {% endif %}
      <div class="card">
        {% if painting.url %}
        <a class="card-link" href="{{ painting.url }}"></a>
        {% endif %}
        <figure class="card-outer-image-wrapper">
          <div class="card-inner-image-wrapper" style="overflow: hidden;">
            <img style="font-size: 0px; {{ style }} position: relative;" alt="{{ painting_legend_1 }}, {{ painting_legend_2 }}" src="{{ image_path }}">
          </div>
          <div class="card-status-wrapper">
          {% if painting.is_sold %}
            <div class="sold-out">Sold</div>
          {% elsif painting.for_sale %}
            <div class="for-sale">Sale</div>
          {% endif %}
          </div>
        </figure>
        <section class="card-overlay">
          <div class="card-meta">
            <h1 class="card-title">
              {{ painting_legend_1 }},
              <br>
              {{ painting_legend_2 }}
            </h1>
            <div class="card-price">
              {% include painting_price.html painting=painting %}
            </div>
          </div>
        </section>
      </div>
      {% endfor %}
    </div>

  </div>
</main>
