---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/vendor/leaflet@1.9.4/leaflet.css' | relative_url }}"/>
<script type="text/javascript" charset="utf-8" src="{{ '/assets/vendor/leaflet@1.9.4/leaflet.js' | relative_url }}"></script>

<link rel="stylesheet" href="{{ '/assets/vendor/leaflet.fullscreen@3.0.2/Control.FullScreen.css' | relative_url }}" />
<script src="{{ '/assets/vendor/leaflet.fullscreen@3.0.2/Control.FullScreen.js' | relative_url }}"></script>

<link rel="stylesheet" href="{{ '/assets/vendor/leaflet.contextmenu@1.5.1/leaflet.contextmenu.min.css' | relative_url }}" />
<script src="{{ '/assets/vendor/leaflet.contextmenu@1.5.1/leaflet.contextmenu.min.js' | relative_url }}"></script>

<style>
#map {
  background-color:#DDD;
  width: 100%;
  aspect-ratio: 3/2;
}
</style>

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <h1>Carte</h1>
    <input hidden type="text" value="" id="id_clipboard">

    <div id="map"></div>

    {{ content }}

  </div>
</main>

<script type="text/javascript">
const option_tile_provider = 'cartodb';

function safe_get(item, key) {
  if (item.hasOwnProperty(key)) {
      return item[key];
  }
  return '';
};

document.addEventListener('DOMContentLoaded', function (){
    let urlTemplate = '';
    let attribution = '';
    switch (option_tile_provider) {
        case 'thunderforest':
            urlTemplate = 'https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png';
            attribution = 'todo';
            break;

        case 'stamen-watercolor':
            urlTemplate = 'https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.jpg';
            attribution = 'todo';
            break;

        case 'cartodb': // Carto.com
            urlTemplate = 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png';
            attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' + 
                          '&copy; <a href="https://carto.com/attribution">CARTO</a>';
            break;

        default: // OSM (default)
            urlTemplate = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
            attribution = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';
    }

    const options = {
        // Plugin contextmenu
        contextmenu: true,
        contextmenuItems: [
            {
                text: 'Copy coordinates to clipboard',
                callback: function (e) {
                    const text_to_copy = e.latlng.lat + ", " + e.latlng.lng;
                    const clipboard = document.getElementById("id_clipboard");
                    clipboard.value = text_to_copy;
                    clipboard.select();
                    clipboard.setSelectionRange(0, 99999); // For mobile devices
                    navigator.clipboard.writeText(clipboard.value);
                }
            }
        ],
        // Plugin fullscreen
        fullscreenControl: true,
        fullscreenControlOptions: {position: 'topleft'}
    };
    const map = L.map('map', options)
        .setView([43.599165, 1.438351], 11) // Pont Neuf
        .on('contextmenu', function (e) {
            const digit = 100000;
            const text_to_show = Math.round(e.latlng.lat * digit) / digit + ", " + Math.round(e.latlng.lng * digit) / digit;
            map.contextmenu._items[0].el.text = text_to_show;
        });

    const tile_layer = L.tileLayer(urlTemplate, {
            minZoom: 0,
            maxZoom: 19,
            attribution: attribution
        }).addTo(map);

    // Landmarks
    {% for landmark in site.data.database.landmarks %}
        {% if landmark.latlng.size == 2 %}
            {% capture string_with_newlines %}
                {% assign lat = landmark.latlng[0] %}
                {% assign lng = landmark.latlng[1] %}
                {% assign title = landmark.title %}
                L.marker(
                        [{{ lat }}, {{ lng }}], 
                        {'title': "{{ title }}", 'opacity': 0.5}
                    )
                    .bindPopup("<b>{{ title }}</b><br><i>Point Remarquable<br>Landmark</i>")
                    .addTo(map);
            {% endcapture %}
            {{ string_with_newlines | strip_newlines | split: " " | join: " "  }}
        {% endif %}
    {% endfor %}

    // Paintings
    {% assign popup_min_width = 200 %}
    {% for painting in site.data.database.paintings %}
        {% if painting.latlng.size == 2 %}
            {% capture string_with_newlines %}
                {% assign lat = painting.latlng[0] %}
                {% assign lng = painting.latlng[1] %}
                {% assign latlngs = painting.latlngs | jsonify %}
                {% assign title = painting.title %}
                {% assign creation_date = painting.creation_date %}
                {% assign creation_year = painting.creation_year %}
                {% assign subject = painting.subject %}
                {% assign technique = painting.technique %}
                {% assign image = painting.image %}
                {% assign popup_content = "<b>" | append: title | append:", " | append: creation_year | append:"</b><br>"  | append: technique | append:"<br>" %}
                {% if image != '' %}
                    {% assign popup_content = popup_content | append:"<img style='width:" | append: popup_min_width | append:"px;' src='/assets" | append: image | append: "'>" %}
                {% else %}
                    {% capture no_image %}
                    {% include no-image.html %}
                    {% endcapture %}
                    {% assign no_image = no_image | strip_newlines | split: " " | join: " " %}
                    {% assign popup_content = popup_content | append: no_image %}
                {% endif %}
                L.circleMarker(
                        [{{ lat }}, {{ lng }}], 
                        {'title': "{{ title }}"}
                  )
                  .bindPopup("{{ popup_content }}", {'minWidth': {{ popup_min_width }} })
                  .addTo(map);
            {% endcapture %}
            {{ string_with_newlines | strip_newlines | split: " " | join: " "  }}
        {% endif %}
    {% endfor %}
});
</script>
