---
layout: default
---

<link rel="stylesheet" href="{{ '/assets/vendor/leaflet@1.9.4/leaflet.css' | relative_url }}"/>
<script type="text/javascript" charset="utf-8" src="{{ '/assets/vendor/leaflet@1.9.4/leaflet.js' | relative_url }}"></script>

<link rel="stylesheet" href="{{ '/assets/vendor/leaflet.fullscreen@3.0.2/Control.FullScreen.css' | relative_url }}" />
<script src="{{ '/assets/vendor/leaflet.fullscreen@3.0.2/Control.FullScreen.js' | relative_url }}"></script>

<style>
#map {
  background-color:#DDD;
  width: 100%;
  aspect-ratio: 3/2;
}
</style>

<main id="main" class="page-content" aria-label="Content">
  <div class="inner">
    <h1>Carte</h1>

    <div id="map"></div>

    {{ content }}

    {% assign landmarks = site.data.database.landmarks %}
    {% for landmark in landmarks %}
    {% if landmark.title %}
          <li class="menu-item">
            <a href="{{ my_page.url | relative_url }}" itemprop="url">
              <span itemprop="name">{{ my_page.title | escape }}</span>
            </a>
          </li>
        {% endif %}
      {% endfor %}
  </div>
</main>

<script type="text/javascript">
const option_tile_provider = 'cartodb';
const option_draw_polygons = false;

function safe_get(item, key) {
  if (item.hasOwnProperty(key)) {
      return item[key];
  }
  return '';
};

document.addEventListener('DOMContentLoaded', function (){
    let urlTemplate = '';
    let attribution = '';
    switch (option_tile_provider) {
        case 'thunderforest':
            urlTemplate = 'https://tile.thunderforest.com/landscape/{z}/{x}/{y}.png';
            attribution = 'todo';
            break;

        case 'stamen-watercolor':
            urlTemplate = 'https://tiles.stadiamaps.com/tiles/stamen_watercolor/{z}/{x}/{y}.jpg';
            attribution = 'todo';
            break;

        case 'cartodb': // Carto.com
            urlTemplate = 'https://cartodb-basemaps-{s}.global.ssl.fastly.net/light_all/{z}/{x}/{y}.png';
            attribution = '&copy; <a href="https://www.openstreetmap.org/copyright">OpenStreetMap</a> contributors, ' + 
                          '&copy; <a href="https://carto.com/attribution">CARTO</a>';
            break;

        default: // OSM (default)
            urlTemplate = 'https://tile.openstreetmap.org/{z}/{x}/{y}.png';
            attribution = '&copy; <a href="http://www.openstreetmap.org/copyright">OpenStreetMap</a>';
    }

    const map = L.map('map', {
            fullscreenControl: true,
            fullscreenControlOptions: {position: 'topleft'}
        }).setView([43.599165, 1.438351], 11);  // Pont Neuf

    const tile_layer = L.tileLayer(urlTemplate, {
            minZoom: 0,
            maxZoom: 19,
            attribution: attribution
        }).addTo(map);

    // Landmarks
    const landmarks = {{ site.data.database.landmarks | jsonify }};
    for (const [key, value] of Object.entries(landmarks)) {
        if (value.hasOwnProperty('latlng')) {
            const latlng = safe_get(value, 'latlng');
            const title = safe_get(value, 'title');
            const subtitle = safe_get(value, 'subtitle');
            const marker = L.marker(latlng, {'title': title, 'opacity': 0.5})
              .bindPopup("<b>" + title + "</b><br><i>Point Remarquable<br>Landmark</i>")
              .addTo(map);
        }
    }

    // Paintings
    const paintings = {{ site.data.database.paintings | jsonify }};
    for (const [key, value] of Object.entries(paintings)) {
        if (value.hasOwnProperty('latlng')) {
            const latlng = safe_get(value, 'latlng');
            const latlngs = safe_get(value, 'latlngs'); 
            const title = safe_get(value, 'title');
            const creation_date = safe_get(value, 'creation_date');
            const creation_year = safe_get(value, 'creation_year');
            const subject = safe_get(value, 'subject');
            const technique = safe_get(value, 'technique');
            const image = safe_get(value, 'image');

            let popupContent = "<b>" + title + ", " + creation_year +"</b>"
              + "<br>"
              + technique
              + "<br>";

            if (image !== '') {
                popupContent += "<img style='width:200px;' src='/assets" + image + "'>";
            } else {
                popupContent += "{% include no-image.html %}";
            }

            const circle = L.circleMarker(latlng, {title: title})
              .bindPopup(popupContent, {'minWidth':200})
              .addTo(map);

            if (option_draw_polygons) {
                const polygon = L.polygon(latlngs)
                  .bindPopup(popupContent)
                  .addTo(map);
            }
        }
    }
});
</script>
